/*the conatiner tag holds the whole secion*/
.contact {
    width: 75%;
    height: auto;
    margin: auto;
    padding: 30px;
    background-color: white;
}
.contact-logo{
    width: 60px;
    height: 55px;
    padding: 5px;
}
.contact h1{
    font-size: 30px;
}

.contact-flexbox{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    
}
.contact-flexbox section{
    text-align: left;

}
/*All CSS regarding social flex box*/
.social-box{
    width: 30%;
    background-color: white;
    padding: 5px;
    margin: 0;
}

/*All CSS regarding form flex box*/
.form-box{
    width: 50%;
    background-color: white;
    text-align: right;
    padding: 5px;
}

.form-box .contact-form input{
    width: 30rem;
    background-color: rgb(254, 254, 254);
    border: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid rgb(0, 0, 0);

}
.form-box .contact-form input ~ span{
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}
.form-box .contact-form input:focus ~span{
    transform-box: translateY(-20px);
    pointer-events: none;
}
/*Text Area in form*/
.form-box .contact-form textarea{
    border: 0px;
    font-size: 16px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 30rem;
}
.form-box .contact-form textarea ~ span{
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form-box .contact-form textarea:focus ~span{
    transform-box: translateY(-20px);
    pointer-events: none;
}
/*Submit button*/
.form-box .contact-form input[type=submit]{
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    font-size: 16px;
    height: 40px;
    padding: 5px;
}
.form-box .contact-form input[type=submit]:hover{
    color: rgb(255, 250, 247);
}