/*the conatiner tag holds the whole secion*/
.contact {
    width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
}
.contact-logo{
    width: 60px;
    height: 55px;
    padding: 5px;
}
#contact-title{
    border-bottom: 1px solid lightgray;
}
#contact-title p{
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 70%;
}
.contact-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    background-color: white;
    padding: 25px;
}
.contact-flexbox section{
    text-align: left;

}
/*All CSS regarding social flex box*/
.social-box{
    width: 28%;
    background-color: whitesmoke;
    padding: 5px;
    margin: 0;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

/*All CSS regarding form flex box*/
.form-box{
    width: 40%;
    background-color: white;
    text-align: left;
    padding: 10px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-left: 1px solid #333;
}

.form-box .contact-form input{
    width: 30rem;
    background-color: rgb(254, 254, 254);
    border: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid rgb(0, 0, 0);

}
.form-box .contact-form input ~ span{
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}
.form-box .contact-form input:focus ~span{
    transform-box: translateY(-5px);
    pointer-events: none;
}
/*Text Area in form*/
.form-box .contact-form textarea{
    border: 0px;
    font-size: 16px;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 30rem;
}
.form-box .contact-form textarea ~ span{
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form-box .contact-form textarea:focus ~span{
    transform-box: translateY(-10px);
    pointer-events: none;
}
/*Submit button*/
.contact-button{
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
    width: 15rem;
}

.contact-button:hover{
    background: transparent;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05);
}