/*All NAV BAR CSS*/
#whole-container{
    background-color: whitesmoke;
    border-bottom: solid 1px lightgray;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    min-height: 8vh;

    background-color: rgb(173, 230, 255);
    font-size: 12px ;

}
#nav-logo{
    max-width: 120px;
    max-height: 120px;
    
}
.nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 25px;
}

nav ul li a{
color: white;
}
.nav ul li a{
color: #333;

text-decoration: none;
font-weight:bold;
}

nav ul li a:hover{
    color: grey
}
.nav ul li a:hover{
    color:rgb(186, 43, 226)
}

.burgermenu div{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    
}

#temp-profile{
    max-width: 60px;
    max-height: 50px;
}
#user-icon{
    font-size: 32px;
    color:  #333;
    padding-top: 5px;
}
/*dropdown on navbar*/
#dropdown{
    float: right;
    overflow: hidden;
}
#dropdown #dropdown-button{
    font-size: 16px;
    background-color:  inherit;
    border-style: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    padding: 12px 16px;
    border-radius: 6px;
}
#dropdown #dropdown-button:hover{
    background-color: whitesmoke;
}
#dropdown-content{
    display: none;
    position: absolute;
    min-width: 130px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
}
#dropdown-content a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #333;
    padding: 12px 16px;
}
#dropdown-content a:hover{
    background-color: whitesmoke;
}
#dropdown:hover #dropdown-content{
    display: block;
}


/*Main picture on index.php*/
#header-container{
    position: relative;
    margin: auto;
    text-align: center;
  
}
/*shop button*/
#shop-now-button{
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;

}

#shop-now-button:hover{
    background: transparent;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05);
}
/* Head of index.php*/
#pic-1{
    width: 100%;
    max-height: 480px;
}
/* Feature Collection using flex box */
#whole-container h4{
    text-align: center;
    padding-top: 25px;
}
#middle-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: auto;
}
#pic-2{
    width: 125px;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
}
#pic-3{
    width: 125px;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
}
#pic-4{
    width: 125px;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
}
#pic-5{
    width: 125px;
    height: 150px;
    padding: 10px;
    border-radius: 16px;
}
#FC-label{
    text-align: center;
}

/* Our Community using flex box*/
#lower-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: auto;
}
#lower-padding:hover{
    transform: scale(1.5);
}
#upper-padding:hover{
    transform: scale(1.5);
}
#upper-padding{
    padding:30px;
}
#lower-padding{
    padding: 50px;
}
#pic-6{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-7{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-8{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-9{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}

/* signup form */
.signup-logo{
    width: 55px;
    height: 50px;
    padding: 5px;
}
.signup-form{
    width: 50%;
    margin: auto;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 20px;
    border-radius: 32px;
    background-color: rgb(225, 225, 225);
}
.signup-container label{
    padding: 5px;
    text-align: left;
}
.signup-container input{
    width: 30rem;
    background-color: rgb(254, 254, 254);
    border: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    border-bottom: 2px solid rgb(0, 0, 0);
}


/*Sign up button*/
.signupBtnDiv button[type=submit]{
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
}
.signupBtn:hover{
    background: transparent;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05); 
}


.signupBtnDiv button[type=submit]:hover{
    background: white;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05);
}
/*centres the submit button*/
.signupBtnDiv {
text-align: center;
padding: 10px;
}

/* Login form */
.login-logo{
    width: 55px;
    height: 50px;
    padding-right: 2px;
}

.login-form{
    width: 50%;
    margin: auto;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 32px;
    background-color: rgb(225, 225, 225);
}

.login-container label {
    padding: 5px;
    text-align: left;
}

.login-container input {
    width: 30rem;
    background-color: rgb(254, 254, 254);
    border: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    border-bottom: 2px solid black;
}

/*Login button*/
input[type=submit]#login-button {
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 11px 28px;
    border-radius: 30px;
    transition: .3s;
    width: 22rem;
}

input[type=submit]#login-button:hover {
    background: white;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05);
}

/*Admin login button*/
input[type=submit]#admin-login-button {
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 11px 28px;
    border-radius: 30px;
    transition: .3s;
    width: 22rem;
}

input[type=submit]#admin-login-button:hover {
    background: white;
    border: 2px solid lightblue;
    cursor: pointer;
    transform: scale(1.05);
}

/*Prodcut Page CSS*/
.titleList{
    text-align: center;
}
.searchbar{
   padding-left: 300px;
   padding-right:300px;
   
    
    
}
.prodbuttonsection{
    float: right;
    padding-right: 40px;
    
   
    

}
.prodbutton{
 
 
 display: inline-block;
 margin-left: 10px;
}
.productbutton{

border-style: solid;
border-width: 3px;
background-color: white;
padding: 10px 25px;
border-radius: 8px;
text-align: center;



}



.productdropdown{
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.3);
    
}
.productdropdown a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
}
.prodbutton:hover .productdropdown{
    display: block;
    
}
.productbutton:hover {
    color: darkblue;
    
}
.prodbutton a:hover{
    background-color: rgb(169, 166, 166);
    text-decoration: none;
    color: black;
}
.prodbutton:hover .productdropdown{
    display: block;
    
}
.prodbutton a:hover{
    background-color: rgb(169, 166, 166);
    text-decoration: none;
    color: black;
}
.productmainsection{
    margin-top: 20px;
    border-style: solid none solid none;

}
.sidebar {
  
    width: 190px; 
    z-index: 1;
    background-color: lightgrey; 
    overflow-x: hidden; 
    padding-top: 20px;
    border-style: none solid solid none;
    float: left;
    

  }
.sidebarcategories{
    font-size: 25px;
    text-align: center;
    
}
.sidebarsubcategories{
    font-size: 20px;
    text-align: center;
    
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display:inline-block;
    margin-right: 10px;
    
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
.purple{
    background-color: purple;
}
.brown{
    background-color: brown;
}
.gray{
    background-color: gray;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.silver{
    background-color: lightgray;
    background-image: linear-gradient(lightgray,gray);
}
.gold{
    background-color: yellow;
    background-image: linear-gradient(yellow,orange);
}
.multicolour{
    background-color: red;
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
}

.container{
    font-size: 16px;
    cursor: pointer;
}
.filter{
 
position: relative;
 display: inline-block;
    
    
}
.product-image{
    width: 100px;
    height: 150px;
}
.products{
   padding-top: 30px;
    padding-left: 210px;
    
}

.product-box{
    display: inline-block;
    width: 400px;
    margin: auto;
    text-align: center;
    
}
/*Footer CSS*/
/*footer sticks to the bottom of the page*/
.footer-container{
    padding-top: 10px;
    width: 100%;
    color: #333;
    bottom: -50;
    position: absolute;
    background-color: whitesmoke;
}

.footer-container .footer {
    display: table;
    max-width: 100%;
    padding: 1em;
    margin: 0 auto;
    border: 0.062em none black;
    background-color: whitesmoke;
    color: black;
}

#footer-logo{
    width: 75px;
}
.column {
    display: table-cell;
    float: left;
    width: 33.33%;
    padding: 1em;
    height: 250px;
    text-align: center;
}

.column.three {
    width: 300px;
    margin-right: 45px;
}

.column.three:nth-of-type(2) {
    border-right: 0.062em dotted black;
    border-left: 0.062em dotted black;
}

.column.three:nth-of-type(3) {
    text-align: left;
}

.column.three .footer-heading {
    text-align: center;
    font-size: 24px;
}

.column.three ul {
    list-style-type: none;
    text-align: left;
}

.column.last {
    margin: 0;
}

/*Copyright section on footer*/
#copyright-section {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    background-color: rgb(173, 230, 255);
}

/* Social media icons */
.fa-brands.fa-instagram, .fa-brands.fa-twitter, .fa-brands.fa-facebook {
    height: 25px;
    width: 25px;
    text-align: center;
}

.fa-brands.fa-instagram {
    color: rgb(193, 53, 132);
}

.fa-brands.fa-twitter {
    color: rgb(29, 155, 240);
}

.fa-brands.fa-facebook {
    color: rgb(1, 101, 225);
}

/*Account Page CSS*/
#account-header{
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

#account-container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    margin: auto;
    padding: 10px;
    justify-content: baseline;
    color: #333;
}
#account-logo{
    width: 55px;
    height: 50px;
    padding-right: 2px;
}

#account-left-box{
    width: 20%;
    color: #333;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 12px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

#account-right-box{
    width: 80%;
    border-left: 1px solid #333;
    padding-left: 20px;
    color: #333;
}
#account-right-box p{
    border-bottom: 0.5px lightblue;
}
/*Recent Order History Table*/
#account-table{
    width: 100%;
    padding: 5px;
}
#account-table th{
    width: 150px;
    border-bottom: 0.5px #333;
}
#account-table td{
    padding-top: 5px;
}
/*Account logout button*/
#account-button-container{
    margin: auto;
    text-align: center;
    padding: 25px;
}
#account-logout-button{
    background: lightskyblue;
    color: #333;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
}
#account-logout-button:hover{
    background: transparent;
    border: 2px solid lightblue;
    cursor: pointer;
}

/*ADMIN VIEW customer table*/
#customer-header{
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
#customer-table{
    width: 95%;
    padding: 35px;
    margin: auto;
}
#customer-table th{
    width: 150px;
    border-bottom: solid 1px #333;
    padding: 15px;
    text-align: left;
    background-color: whitesmoke;
}
#customer-table td{
    padding: 10px;
    border-bottom: solid 0.5px lightskyblue;
}
#customer-table tr:hover{
    background-color: lightskyblue;
}
/*Login Pages admin+user*/
.login-form{
    text-align: center;
}

/*Orders Page Admin User*/
#orders-header{
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
#orders-table{
    width: 100%;
    padding: 5px;
    background-color: white;
}
#orders-table th{
    border-bottom: solid 1px #333;
    padding: 15px;
    text-align: left;
    background-color: whitesmoke;
}
#orders-table td{
    padding-top: 5px;
}
#orders-container{
    width: 80%;
    margin: auto;
    padding: 50px;
}
#orders-table td{
    padding: 10px;
    border-bottom: solid 0.5px lightskyblue;
}
#orders-table tr:hover{
    background-color: lightskyblue;
}
/*Basket CSS*/
#order-image{
    width: 40px;
    height: 70px;
    padding: 5px;
}



/*Stock Page (admin) CSS*/
#stock-flex-box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#stock-left{
width: 20%;
}
#stock-right{
    width: 80%;
}
#stock-table th{
    border-bottom: solid 1px #333;
    padding: 15px;
    text-align: left;
    background-color: whitesmoke;
}
#stock-table td{
    padding-top: 5px;
}
#stock-table td{
    padding: 10px;
    border-bottom: solid 0.5px lightskyblue;
}
#stock-table tr:hover{
    background-color: lightskyblue;
}
#searchbar-stock{
    margin: auto;
    width: 60%;
    text-align: center;
}
#stock-searchbar-input{
    width: 300px;
}