*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
color: #333;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    background-color: plum;
    min-height: 8vh;

}
.nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;
}

.nav ul li a{
color: purple;
text-decoration: none;
font-weight:bold;
}

.nav ul li a:hover{
    color:blueviolet

}

.burgermenu div{
    width: 30px;
    height: 4px;
    background-color: purple;
    margin: 5px;
    
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

#temp-logo{
    max-width: 120px;
    max-height: 120px;
}
#temp-profile{
    max-width: 60px;
    max-height: 50px;
}
#user-icon{
    font-size: 32px;
    color:  #333;
    padding-top: 5px;
}
#login-button-container{
    text-align: center;
    padding: 10px;
}
#login-button{
    align-items: center;

}
/*Main picture on index.php*/
#header-container{
    position: relative;
    margin: auto;
    text-align: center;
  
}
/* Head of index.php*/
#pic-1{
    width: 100%;
    max-height: 480px;
}
/* Feature Collection using flex box */
#middle-container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    height: auto;
    padding: 5px;
}
#pic-2{
    width: 225px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-3{
    width: 225px;
    height:250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-4{
    width: 225px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-5{
    width: 225px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#FC-label{
    text-align: center;
}
/* Our Community using flex box*/
#lower-container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 5px;
}
#lower-padding{
    padding: 30px;
}
#pic-6{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-7{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}
#pic-8{
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 16px;
}

/* signup form */
.signup-form{
width: 50%;
text-align: center;
align-items: center;
margin: auto;
padding: 50px;
}
#login-container{
    text-align: center;
    width: 100%;
}
.titleList{
    text-align: center;
}
.searchform{
    padding-left: 300px;
    padding-right: 300px;
}
.productsection{
 
 position: relative;
 display: inline-block;
 text-align: center;
}
.productbutton{

border-style: solid;
border-width: 3px;
background-color: white;
padding: 10px 20px;
border-radius: 8px;
text-align: center;
margin-left: 10px;

}



.productdropdown{
    display: none;
    position: absolute;
    
    overflow: auto;
    z-index: 1;
    background-color: lightgray;
    
    
}
.productdropdown a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
}
.productsection:hover .productdropdown{
    display: block;
    
}
.productsection a:hover{
    background-color: rgb(169, 166, 166);
    text-decoration: none;
    color: black;
}
.productsection:hover .productdropdown{
    display: block;
    
}
.productsection a:hover{
    background-color: rgb(169, 166, 166);
    text-decoration: none;
    color: black;
}

.filter{
 
position: relative;
 display: inline-block;
    
    
}

.signup-container {
    text-align: left;
}
.footer{
    height: auto;
    background-color: whitesmoke;
    bottom: 5px;
}

.column {
    display: block;
    float: left;
}

.column.three {
    width: 203px;
    margin-right: 45px;
}

.column.last {
    margin: 0;
}
/*Account Page CSS*/
#account-container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

